body {
    background: #c281ff;
    font: normal 15pt Arial;
    color: whitesmoke;
    text-align: center;
}

header {

}

section {
    background: whitesmoke;
    border-radius: 20px;
    padding: 15px 0;
    width: 500px;
    color: black;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
    margin: auto;
}

footer {
    
}

